<table style="width:400px;color:#547d8f" border="1">
	{% if itemInfo.overview is not none %}
	<tr>	
		<td>
			Overview
		</td>
		<td>
			{{itemInfo.overview}}
		</td>
	</tr>
	{% if itemInfo.vote_average is not none %}	
	<tr>
		<td>
			Raiting
		</td>
		<td>
			{% endif %}
			{% with rate = itemInfo.vote_average %}
			{% include 'ratingfivestar.html' %}
			{% endwith %}	
		</td>
	</tr>
	{% endif %}
	{% if itemInfo.vote_count >0 %}	
	<tr>
		<td>
			Raiting Info
		</td>
		<td>
			Average {{itemInfo.vote_average}}/10 out of {{itemInfo.vote_count}} Votes
		</td>
	</tr>
	{% endif %}	
	{% if itemInfo.homepage is not none %}		
	<tr>
		<td>
			Site
		</td>
		<td>
			<a style="color:orange" href="{{itemInfo.homepage}}">{{itemInfo.homepage}}</a>
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>
			Genres
		</td>
		<td>
		{% for genres in itemInfo.genres %}
			{% if not loop.last %}
				{{genres.name}},
			{%else %}
				{{genres.name}}
			{% endif %}			
		{%endfor%}			
		</td>
	</tr>
	{% if itemInfo.status == "Released" %}	
	<tr>
		<td>
			Released
		</td>
		<td>
			{{itemInfo.release_date}}
		</td>
	</tr>		
	{% else %}
	<tr>
		<td>
			Upcoming Release
		</td>
		<td>
			{{itemInfo.release_date}}
		</td>
	</tr>		
	{% endif %}	
	{% if itemInfo.production_companies|length()>0 %}
	<tr>
		<td>
			Production Companies
		</td>
		<td style="vertical-align: middle">
			{% for production_comp in itemInfo.production_companies %}
				{{production_comp.name}}<br>
			{%endfor%}			
		</td>
	</tr>
	<tr>
		<td>
			Directors
		</td>
		<td style="vertical-align: middle">
			{% include 'directors.html' %}
		</td>
	</tr>
	{% endif %}
	
</table>