<table class="descriptiontable">
	{% if itemInfo.overview%}
	<tr>	
		<td>
			Overview
		</td>
		<td>
			{{itemInfo.overview}}
		</td>
	</tr>
	{% endif %}
	{% if itemInfo.vote_average and  itemInfo.vote_count >0 %}	
	<tr>
		<td>
			Rating
		</td>
		<td>
			{% with rate = itemInfo.vote_average %}
			{% include 'ratingfivestar.html' %}
			{% endwith %}	
		</td>
	</tr>
	{% endif %}
	{% if itemInfo.vote_count >0 and itemInfo.vote_count%}	
	<tr>
		<td>
			Rating Info
		</td>
		<td>
			Average {{itemInfo.vote_average}}/10 out of {{itemInfo.vote_count}} Votes
		</td>
	</tr>
	{% endif %}	
	{% if itemInfo.homepage%}		
	<tr>
		<td>
			Site
		</td>
		<td>
			<a href="{{itemInfo.homepage}}">{{itemInfo.homepage}}</a>
		</td>
	</tr>
	{% endif %}
	{% if itemInfo.genres|length>0%}	
	<tr>
		<td>
			Genres
		</td>
		<td>
		{% for genres in itemInfo.genres %}
			{% if not loop.last %}
				{{genres.name}},
			{%else %}
				{{genres.name}}
			{% endif %}			
		{%endfor%}			
		</td>
	</tr>
	{% endif %}
	{% if itemInfo.status == "Released" %}	
	<tr>
		<td>
			Released
		</td>
		<td>
			{{itemInfo.release_date}}
		</td>
	</tr>	
	{% endif %}
	{% if itemInfo.release_date %}	
	<tr>
		<td>
			Upcoming Release
		</td>
		<td>
			{{itemInfo.release_date}}
		</td>
	</tr>		
	{% endif %}	
	{% if itemInfo.production_companies|length()>0 %}
	<tr>
		<td>
			Production Companies
		</td>
		<td style="vertical-align: middle">
			{% for production_comp in itemInfo.production_companies %}
				{{production_comp.name}}<br>
			{%endfor%}			
		</td>
	</tr>
	<tr>
	{% endif %}
	{% if credits.crew|selectattr('job', 'equalto', 'Director')|list|length()>0 %}
		<td>
			Directors
		</td>
		<td style="vertical-align:middle">
			{% include 'directors.html' %}
		</td>
	</tr>
	{% endif %}
</table>