{% extends "index.html" %}

{% block content %}
	<div class="itemoverallinfocont">
		<div class="itemoverallinfotitle">
			{{itemInfo[config['ITEMS_KEY_GAPS']['title'][itemdesc]]}}
		</div>
		<div class="itemoverallinfoobjpar" >
			<div class="itemoverallinfoobj">
				<div class="itemoveralmedia">
					<div>{% include 'imageslideshow.html' %}</div>
					<div>{% include 'videoslideshow.html' %}</div>
				</div>
				<div class="itemdescriptioncont">{% include 'itemdescription.html' %}</div>
				<div>{% include 'casting.html' %}</div>
			</div>
		</div>	
		<div>
			{% include 'similaritemshorizontal.html' %}
		</div>
	</div>
{% endblock %}

  