{% extends "index.html" %}

{% block content %}
	<div class="itemoverallinfocont">
		<div class="itemoverallinfotitle">
			{{itemInfo.title}}
			{{itemInfo['name']}}
		</div>
		<div style="display:flex">
			<div style="width:350px;flex-direction:column">
				<div style="width:350px">{% include 'imageslideshow.html' %}</div>
				<div style="width:350px">{% include 'videoslideshow.html' %}</div>
			</div>
			<div style="width:500px">{% include 'itemdescription.html' %}</div>
			<div>
				{% with fontcolor = '#e6eaed' %}
				{% include 'casting.html' %}
				{% endwith %}	
			</div>
		</div>
		<div>
			{% include 'similaritemshorizontal.html' %}
		</div>
	</div>
{% endblock %}

  