<table class="calculator-table">
		{% if curPage|int != 1 %}
			<tr><td colspan="{{pageColLimit}}"><a  href="{{ url_for(pagingMethod, curPage=curPage|int-1) }}"><span class="triangle-up"></span></a></td></tr>
		{% endif %}
		<tr>
		<form action="{{pagingMethod}}" method="POST">
			<td colspan="{{pageColLimit-1}}"><input id="curPage" name="curPage" class="calculator-screen" placeholder="Select Page" title="The input number must be between 1 and {{totalPages}}" min=1 max={{totalPages}}></td>
			<td><input type="submit" class="calculator-submit-button"value="Go!"></td>
		</form>
		</tr>
		{% for i in range(1,pageLimit+1) if currentPage!=totalPages %}
			{% if pageLimit >= totalPages %}
				{% set currentPage = i %}
			{% else %}
				{% if curPage|int+(pageLimit/2)|int<=totalPages and curPage|int-(pageLimit/2|int|round(1,'floor'))>0 %}
					{% set currentPage = curPage|int-(pageLimit/2|int)+i %}
				{% elif curPage|int+(pageLimit/2)|int>totalPages and curPage|int-(pageLimit/2|int|round(1,'floor'))>0 %}
					{% set currentPage = curPage|int -(pageLimit|int-(totalPages|int-curPage|int))+i %}
				{% elif curPage|int+(pageLimit/2)|int<=totalPages|int and curPage|int-(pageLimit/2|int|round(1,'floor'))<=0 %}
					{% set currentPage = i %}
				{% endif %}	
			{% endif %}	
			{% if loop.index%pageColLimit == 1 %}
				<tr>
			{% endif %}
			<td class="calculator-button" ><a href="{{ url_for(pagingMethod, curPage=currentPage|int)}}">{{currentPage|int}}</a></td>
			{% if loop.index%pageColLimit == 0 %}
				</tr>
			{% endif %}				
		{%endfor%}
		{% if curPage|int != totalPages|int %}
			<tr><td  colspan="{{pageColLimit}}"><a  href="{{ url_for(pagingMethod, curPage=curPage|int+1) }}"><span class="triangle-down"></span></a></td></tr>
		{% endif %}	
</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>	