<table class="calculatortable">
		{% if curPage|int != 1 %}
			<tr class="arrowtablerow"><td colspan="{{pageColLimit}}"><a href="{{ url_for(pagingMethod, curPage=curPage|int-1) }}" title="Previous Page"><img class="uparrow" src="{{url_for('static', filename='images/updownarrow.png')}}"></td></tr>
		{% endif %}
		<tr>
		<form id="selectPageForm" action="{{pagingMethod}}">
			<td colspan="{{pageColLimit-1}}"><input id="curPage" type="number" name="curPage" class="calculator-screen" placeholder="Enter Page" title="The input number must be between 1 and {{totalPages}}" min=1 max={{totalPages}} required></td>
			<td><input type="submit" class="calculator-submit-button" value="Go!"></td>
		</form>
		</tr>
		{% for i in range(1,pageLimit+1) if currentPage!=totalPages %}
			{% if pageLimit >= totalPages %}
				{% set currentPage = i %}
			{% else %}
				{% if curPage|int+(pageLimit/2)|int<=totalPages and curPage|int-(pageLimit/2|int|round(1,'floor'))>0 %}
					{% set currentPage = curPage|int-(pageLimit/2|int)+i %}
				{% elif curPage|int+(pageLimit/2)|int>totalPages and curPage|int-(pageLimit/2|int|round(1,'floor'))>0 %}
					{% set currentPage = curPage|int -(pageLimit|int-(totalPages|int-curPage|int))+i %}
				{% elif curPage|int+(pageLimit/2)|int<=totalPages|int and curPage|int-(pageLimit/2|int|round(1,'floor'))<=0 %}
					{% set currentPage = i %}
				{% endif %}	
			{% endif %}	
			{% if loop.index%pageColLimit == 1 %}
				<tr>
			{% endif %}
			<td class="calculator-button" ><a href="{{ url_for(pagingMethod, curPage=currentPage|int)}}"><span>{{currentPage|int}}</span></a></td>
			{% if loop.index%pageColLimit == 0 %}
				</tr>
			{% endif %}				
		{%endfor%}
		{% if curPage|int != totalPages|int %}
			<tr class="arrowtablerow"><td  colspan="{{pageColLimit}}"><a href="{{ url_for(pagingMethod, curPage=curPage|int+1) }}"><img class="downarrow" src="{{url_for('static', filename='images/updownarrow.png')}}" title="Next Page"></a></td></tr>
		{% endif %}	
</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/paging.js') }}"></script>	