{% if similarItems|length>0 %}
	<div class="similaritemrow" id="similaritemrow">
		<script type="text/javascript" src="{{ url_for('static', filename='js/asyncCallEvents.js') }}"></script>
		
		<div class="similaritemcol" >
		{% for similarItem in similarItems %}
			<div class="similaritemsimgcont">
				<a href="{{ url_for(similarMethod, itemid=similarItem.id) }}">
				{% if similarItem.poster_path is none %}
					<div class="nopostercontsmall"><img width="90" height="140" src="{{url_for('static', filename='images/noposter.jpg')}}"><div class="nopostercentered">{{similarItem.title}}</div></div>
				{% else %}
					<img src="{{similarItem.image_path}}">
				{% endif %}
				</a>
			</div>
		{%endfor%}
		</div>
		<div>
			{% with itemtobereplaced = 'similaritemrow' %}
				{% include 'paging.html' %}
			{% endwith %}
		</div>	
	</div>
{% endif %}