{%if itemInfo.videos.results|length>0 %}
	<div id="videoslideshow">
	{% for video in itemInfo.videos.results |selectattr('type', 'equalto', 'Trailer') %}
		{% if loop.index == 1 %}
			<div><iframe class="slideshowvisible" src="{{video.video_path}}"   frameborder="0" allowfullscreen></iframe></div>
		{% else %}	
			<div><iframe class="slideshowhidden" src="{{video.video_path}}"  allowfullscreen></iframe></div>
		{% endif %}
	{%endfor%}	
	{%if itemInfo.videos.results|selectattr('type', 'equalto', 'Trailer')|list|length>1 %}
		<a href="#" class="arrowL" onclick="showSlides(-1, 'videoslideshow', 'iframe', 'timeoutHandleVid')">&lt;</a>
		<a href="#" class="arrowR" onclick="showSlides(1, 'videoslideshow', 'iframe', 'timeoutHandleVid')">&gt;</a>	
	{% endif %}	
	</div>
{% endif %}